.project-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  background: #fff;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 35px rgba(60, 80, 255, 0.25);
}

/* IMAGE */
.project-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  transition: 0.4s ease;
}

.project-card:hover .project-img {
  transform: scale(1.1);
  filter: brightness(70%);
}

/* OVERLAY */
.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(5, 5, 30, 0.80);
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s ease;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.project-overlay p {
  font-size: 1rem;
  opacity: 0.85;
  margin-bottom: 20px;
}

/* BUTTONS */
.project-buttons a {
  display: inline-block;
  margin: 0 8px;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.project-buttons a:first-child {
  background: #ffffff;
  color: #3129a6;
}

.project-buttons a:first-child:hover {
  background: #ddddff;
}

.code-btn {
  background: #3129a6;
  color: #fff;
}

.code-btn:hover {
  background: #18105e;
}

@media (max-width: 500px) {
  .project-img {
    height: 180px;
  }
}
